{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}
<h2>Hello {{user.first_name}}</h2>
<h3>Update your Profile</h3>
<br>
<br>
<form action="" method="post", autocomplete="off">
    {% csrf_token %}
    
    

    <div class="form-row">
        <div class="col-md-4 mb-3">
            {{ user_form.first_name | as_crispy_field }}            
        </div>
        <div class="col-md-4 mb-3">
            {{ user_form.last_name | as_crispy_field }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationDefaultUsername">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                </div>
            <input type="text" class="form-control" id="validationDefaultUsername"  value="{{ user.username }}"  aria-describedby="inputGroupPrepend2" required disabled>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            {{ profile_form.address_1 | as_crispy_field }}
        </div>
        <div class="col-md-6 mb-3">
            {{ profile_form.address_2 | as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ profile_form.phone_number | as_crispy_field }}
            
        </div>
        <div class="col-md-4">
                <span >Birthday *</span>
            {{ profile_form.birthday }}
        </div>
        <div class="col-md-4">
            {{ profile_form.gender | as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-large btn-info" >Update Profile</button>
        </form>
            <br>
        </div>
   
        <div class="col-md-4">
            <a class="btn btn-large btn-info" href="/change_password/">Change Password</a>
           
        </div>

        <div class="col-md-4">
            <form action="/delete_user/" method="POST", autocomplete="off">  
                {% csrf_token %}  
                <button class="btn btn-large btn-info btn btn-danger"  type="submit" type="submit">Delete Profile</button>
            </form>
            
        </div>

    </div>





{% endblock %}